footer.mdl-mini-footer
    .mdl-mini-footer__left-section
        .mdl-logo Biblioteca Geek
                
        .mdl-mini-footer__right-section
            ul.mdl-mini-footer__link-list
                li
                    a(href="#") Help
                li
                    a(href="#") Privacy & Terms