if(home)
    a(href="/").mdl-navigation__link.is-active Home
else 
    a(href="/").mdl-navigation__link Home

if(blog)
    a(href="/blog").mdl-navigation__link.is-active Blog
else
    a(href="/blog").mdl-navigation__link Blog

if(proyects)
    a(href="/projects").mdl-navigation__link.is-active Proyectos
else
    a(href="/projects").mdl-navigation__link Proyectos
