.form-group
    label Titulo
    input(type="text" placeholder="Titulo" name="title" value=project.title).form-control
.form-group
    label Descripción
    input(type="text" placeholder="Descripción" name="description" value=project.description).form-control
.form-group
    label URL
    input(type="text" placeholder="URL" name="url" value=project.url).form-control
button(type="submit").btn.btn-primary Guardar