extends ../layouts/template.pug

block content
    .mdl-grid.portfolio-max-width
        each post in posts
            .mdl-cell.mdl-cell--8-col
                
                .demo-card-wide.mdl-card.mdl-shadow--2dp
                    .mdl-card__title
                        h2.mdl-card__title-text= post.title

                    .mdl-card__supporting-text= post.description
                    
                    .mdl-card__actions.mdl-card--border
                        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href=post.url) Ver mas                       
                    .mdl-card__menu
                        button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                            i.material-icons share 
