extends ./layouts/template.pug 

block content
    .mdl-grid.portfolio-max-width

        <form action="#">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1">
                <label class="mdl-textfield__label" for="sample1">Correo Electronico</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
                <label class="mdl-textfield__label" for="sample5">Mensaje</label>
            </div>
        </form>