extends layouts/template.pug


block content
    .mdl-grid.portfolio-max-width

        .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
            .mdl-card__media
                img.article-image(src="images/profile.jpg" border="0" alt="")
            .mdl-grid.portfolio-copy
                h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Francisco Gustavo Hidalgo Lopez - Desarrollador Web
                .mdl-cell.mdl-cell--8-col.mdl-card__supporting-text.no-padding
                    .mdl-grid
                        .mdl-cell.mdl-cell--12-col.info-flex
                            p.mdl-list__item-primary-content 
                                i.material-icons date_range
                                span 15 Febrero, 1999
                            p.mdl-list__item-primary-content 
                                i.material-icons call
                                span 55 67838171
                            p.mdl-list__item-primary-content 
                                i.material-icons email
                                span hidalgo_fco520@outlook.com
                            P.mdl-list__item-primary-content 
                                i.material-icons location_on
                                span Ciudad De México

                h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Habilidades

                .mdl-cell.mdl-cell--8-col.mdl-card__supporting-text.no-padding
                    .mdl-grid
                        .mdl-cell.mdl-cell--4-col.mdl-cell--12-col-phone
                            h4 Software
                            ul 
                                li JavaScript
                                li Node JS
                                li SQL (Basico)
                                li Html 5
                                li CSS
                        .mdl-cell.mdl-cell--4-col.mdl-cell--12-col-phone
                            h4 Software
                            ul 
                                li Angular
                                li React JS
                                li Bootstrap
                                li Express
                        .mdl-cell.mdl-cell--4-col.mdl-cell--12-col-phone
                            h4 Otros
                            ul 
                                li Trabajo en equipo
                                li Ingles (Basico)

                h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Proyectos
                
                .mdl-cell.mdl-cell--8-col.mdl-card__supporting-text.no-padding
                    ul.demo-list-item.mdl-list
                        each project in projects
                            li.mdl-list__item.block
                                h5.mdl-list__item-primary-content= project.title
                                p= project.description
                                a.mdl-button.mdl-js-button.mdl-button--primary(href=project.url target="_blank") Ver más