extends ../layouts/template.pug

block content
    .container-fluid
        .container.mt-5
            img(src="http://localhost:3000/blog/get-cover/" + post.cover, alt="")
            form(method="POST" action="/blog/" + post.slug enctype="multipart/form-data")
                input(type="hidden" name="_method" value="PUT")
                include ./form.pug