.row
    .col-12.col-md-4
        .form-group
            label(for="cover") Selecciona un cover
            input(type="file" id="cover" name="image").form-control-file
            label(for="cover") Selecciona una portada
            input(type="file" id="cover" name="cover").form-control-file

        .form-group
            input(type="text" name="color" placeholder="Color" value=post.color).form-control
        button(type="submit").btn.btn-primary.btn-block Guardar
        
    .col-12.col-md-8
        
        .form-group
            input(type="text" name="title" placeholder="Title" value=post.title).form-control

        .form-group
            textarea(name="body" style="height: 500px").form-control=post.body