extends ../layouts/template.pug

block content
    .mdl-grid.portfolio-max-width
        each post in posts
            include ./card.pug
    script(src="https://code.getmdl.io/1.3.0/material.min.js")
        